.Form {
    margin: 20px 4%;
    padding: 2% 2%;
    border-radius: 70px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.Form h2 {
    text-align: center;
}

.Form textarea {
    resize: none;
    font-family: inherit;
}

.Form ul {
    list-style: none;
    padding: 0;
}

.Form li,
.Form .grid > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.Form select,
.Form input,
.Form textarea,
.Form button {
    width: 100%;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    transition: transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.Form textarea {
    height: 170px;
}

.Form ::placeholder {
    color: inherit;
    opacity: 1;
}

.Form select:focus,
.Form input:focus,
.Form textarea:focus {
    transform: scale(1.02);
}

.Form *:required,
.Form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
}

.Form *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
}

.Form *:disabled {
    cursor: default;
    filter: blur(2px);
}

.Form .required-msg {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left / 15px 15px;
    padding-left: 20px;
}

.Form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
}

.Form button {
    font-weight: bold;
}

.Form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.Form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
}

.Form button:enabled:hover .back,
.Form button:focus .back {
    transform: translate(-50%, -50%);
}

.Form button:enabled:hover .front,
.Form button:focus .front {
    transform: translateX(110%);
}

.Form .tos {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
}

.Form .tos input[type="checkbox"] {
    width: 4em;
    height: 4em;
}

.Form .tos a {
    text-decoration: none;
    color: orange;
}

@media screen and (min-width: 600px) {
    .Form .grid {
        display: grid;
    }

    .Form .grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        min-width: 0;
        min-height: 0;
    }

    .Form .grid-3 {
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .Form .grid > *:not(:last-child) {
        margin-bottom: 0;
    }

    .Form .required-msg {
        display: block;
    }
}

@media screen and (min-width: 541px) {
    .Form input[type="checkbox"] + label::before {
        top: 50%;
        transform: translateY(-50%);
    }

    .Form input[type="checkbox"]:checked + label::after {
        top: 3px;
    }
}
