@import "~bootstrap/scss/bootstrap";

.App {
    text-align: justify;
    margin: 0 auto;
}

.App-header {
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-header button,
label,
a {
    cursor: pointer;
}

.App-banner {
    background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%), url("background.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    color: #f9f7f7;
}

.App-banner h1 {
    font-size: 50px;
}

.App-banner h2 {
    font-size: 35px;
    font-weight: 200;
    opacity: 0.9;
    margin-bottom: 60px;
}

.App-banner .App-container {
    width: 700px;
    margin: 0px auto;
    padding-top: 100px;
}

.App-container {
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 30px;
}

.App-title {
    text-align: center;
    color: black;
    font-size: 40px;
}

.App-grid-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #020001;
    padding: 0px 10px;
    border-radius: 8px;
}

.App-grid-two-columns h2 {
    padding-left: 2em;
    padding-right: 3em;
    font-size: 60px;
    text-align: justify;
    color: #f4f4f2;
}

.App-dashboard {
    background-image: linear-gradient(225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%), url("code.jpg");
    background-size: cover;
    background-position: center;
    padding: 300px;
    border-radius: 8px;
}

.App-grid-two-columns-reverse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #e8e8e8;
    padding: 0px 10px;
    border-radius: 8px;
}

.App-grid-two-columns-reverse h2 {
    padding-left: 2em;
    padding-right: 3em;
    font-size: 60px;
    text-align: justify;
}

.App-interface {
    background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%), url("interface.jpg");
    background-size: cover;
    background-position: center;
    padding: 300px;
    border-radius: 8px;
}
